.idea
.ipynb_checkpoints
.DS_Store
models/word2vec_multilingual.model
models/BERTopic_model_multilingual
data/komponisten_texte.json
models/word2vec_kv_models
models/Top2Vec_model
models/word2vec_kv_models/vectors.kv